.cover__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    min-height: 62.5vw;
    text-decoration: none;
}

@media screen and (min-width: 1150px) {
    .cover__link {
        max-width: 1184px;
        min-height: 720px;
    }
}