.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 64px;
    padding-bottom: 24px;
    max-width: 186px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 88px;
        flex-direction: row;
        min-width: 720px;
        margin: 0 auto;
        padding-left: 0;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding-top: 92px;
        max-width: 928px;
    }
}

@media screen and (min-width: 1184px) {
    .footer {
        max-width: 1184px;
    }
}